<style>video {
  width: 100%;
  height: auto;
}</style>
<div class="jumbotron mt-3">
  <h1 class="display-4">I.T.T</h1>
  <p class="lead">INSTITUTO TECNOLOGICO DE TLAXIACO</p>
  <p class="lead">"CIENCIA Y TECNOLOGIA PROGRESO DIA CON DIA"</p>
  <video width="640" height="480" src="assets/video/oferta.webm" controls controlsList="nodownload" autoplay></video>
    <hr class="my-4">
  <p>GENERANDO INGENIEROS PARA EL MUNDO LABORAL.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/privado" role="button">Learn more</a>
  </p>
</div>